# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Build outputs
# ===============================
dist/
dist-ssr/

# ===============================
# Environment variables
# ===============================
.env
.env.local
.env.*.local

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json

.idea/
*.swp
*.swo

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Vite cache
# ===============================
.vite/

# ===============================
# Misc
# ===============================
coverage/

#claude
.omc/

#zip
*.zip